<h1><%= @title_welcome %></h1>
<h5><%= @descrip %></h5>
<br>
<div class="align-items-center">
  <% if current_user %>
    <h1><%= "#{greetings.sample}, #{current_user.username.split("@").first}!" %></h1>
  <% else %>
    <%= link_to "Login with Google",
    "https://epeolatrys-rex.herokuapp.com/auth/google_oauth2" %>
  <% end %>
</div>
