<div class="text-center">
  <button type="button" class="btn btn-secondary" style="float: center;"><a href="/user/books">My Beautiful Bevy of Books</a></button>
</div>
<div class="text-center">
  <button type="button" class="btn btn-secondary" style="float: center;"><a href="/user/words">My Wordly World of Words</a></button>
</div>
